{% extends 'layout/base.html' %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}
<div>
    <header>
        <h1>Pay by credit card</h1>
    </header>
    <form id="payment" method="post">
        {% csrf_token %}
        <div>
            <label for="card-number">Card Number</label>
            <div id="card-number" class="field"></div>
        </div>
        <div>
            <label for="cvv">CVV</label>
            <div id="cvv" class="field"></div>
        </div>
        <div>
            <label for="expiration-date">Expiration Date</label>
            <div id="expiration-date" class="field"></div>
        </div>
        <div>
            <input type="hidden" id="nonce" name="payment_method_nonce" value="">
            <input type="submit" value="Pay">
        </div>
    </form>
    <script src="https://js.braintreegateway.com/web/3.44.2/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.44.2/js/hosted-fields.min.js"></script>
    <script>
        const form = document.querySelector('#payment')
        const submit = document.querySelector('input[type="submit"]')

        braintree.client.create({
            authorization: '{{ client_token }}'
        }, function (err, clientInstance) {
            if (err) {
                console.error(err)
                return
            }

            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {
                        'font-size': '13px',
                        'height': '4px' 
                    },
                    'input.invalid': {
                        'color': 'red'
                    },
                    'input.valid': {
                        'color': 'green'
                    }
                },
                fields: {
                    number: {
                        selector: '#card-number',
                        placeholder: "4111 1111 1111 1111"
                    },
                    cvv: {
                        selector: '#cvv',
                        placeholder: '123'
                    },
                    expirationDate: { 
                        selector: '#expiration-date',
                        placeholder: 'MM/YYYY'
                    }
                }
            }, function (err, hostedFieldsInstance ) {
                if (err) {
                    console.error(err)
                    return
                }

                submit.removeAttribute('disabled')

                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    hostedFieldsInstance.tokenize(function (err, payload ) {
                        if (err) {
                            console.error(err)
                            return
                        }

                        document.getElementById('nonce').value = payload.nonce
                        document.getElementById('payment').submit()
                    })
                }, false)
            })
        })
    </script>
</div>
{% endblock %}